
@{
    ViewBag.Title = "donhang";
    Layout = "~/Areas/admin/Views/Shared/layout_share.cshtml";
    database database = new database();
}
@using shopthoitrang.Models;
@model List<Order>
<div class="main-content">
    <section class="section">
        <div class="section-header">

            <div class="breadcrumb bg-primary text-white-all">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">product</a></div>
                <div class="breadcrumb-item">categories</div>
            </div>
        </div>

        <div class="section-body">
            <h2 class="section-title">Danh sách đơn hàng</h2>
            <p class="section-lead">Chúng tôi cần điền đầy đủ thông tin</p>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4></h4>
                            <div class="card-header-action">
                                <form>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                @{ if (@ViewBag.error != null)
                                    {
                                        <div class="alert alert-danger alert-dismissible show fade">
                                            <button class="close" data-dismiss="alert">
                                                <span>×</span>
                                            </button>
                                            @ViewBag.error
                                        </div>
                                    };
                                    if (ViewBag.thanhcong != null)
                                    {
                                        <div class="alert alert-success alert-dismissible show fade">
                                            <button class="close" data-dismiss="alert">
                                                <span>×</span>
                                            </button>
                                            @ViewBag.thanhcong
                                        </div>
                                    }

                                }
                                <table class="table table-striped" id="sortable-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">
                                                #
                                            </th>
                                            <th>Số điện thoại người mua</th>
                                            <th>Tên người đặt hàng</th>
                                            <th>Mã giảm giá đã áp dụng</th>
                                            <th>Ngày đặt đơn</th>
                                            <th>tình trạng đơn hàng</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @{ foreach (var order in Model)
                                            {
                                                var nameor = database.User_info.Where(or => or.id_user == order.id_user).FirstOrDefault();
                                        <tr>
                                            <td>
                                                @order.id_order
                                            </td>
                                            <td>@nameor.phone</td>
                                            <td>@nameor.name</td>
                                            <td>@order.id_discount</td>
                                            <td>@order.date_order</td>
                                            @{ if (order.status_order == "Chờ xác nhận")
                                                {
                                                    <td><div class="badge badge-danger">@order.status_order</div></td>
                                                }
                                                else if (order.status_order == "Chờ vận chuyển")
                                                {
                                                    <td><div class="badge badge-warning">@order.status_order</div></td>
                                                }
                                                else if (order.status_order == "Hoàn thành")
                                                {
                                                    <td><div class="badge badge-success">@order.status_order</div></td>

                                                }


                                                if (order.payment_status == "Chờ thanh toán")
                                                {
                                                    <td><div class="badge badge-danger">@order.payment_status</div></td>
                                                }
                                                
                                                else if (order.payment_status == "Đã thanh toán")
                                                {
                                                    <td><div class="badge badge-success">@order.payment_status</div></td>

                                                }
                                            }
                                            
                                            <td><a href="@Url.Action("xacnhan", "donhang", new { orderID = @order.id_order, check = "Chờ vận chuyển", action = "donhang" })" alt="Xác nhận" class="btn btn-icon btn-sm btn-success"><i class="far fa-check-circle"></i></a> | <a href="@Url.Action("detail", "donhang", new { orderID = @order.id_order })" class="btn btn-icon btn-sm btn-info"><i class="fas fa-info-circle"></i></a> |<a href="@Url.Action("xoa_donhang", "donhang", new { orderID = @order.orderID })" class="btn btn-icon btn-sm btn-danger"><i class="fas fa-times"></i></a></td>

                                        </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>