@using shopthoitrang.Models;
@{ 
    database db = new database();
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.tile</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/public/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/public/css/style.css" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__nav__option">
            <a href="#" class="search-switch"><img src="~/public/img/icon/search.png" alt=""></a>
            <a href="#"><img src="~/public/img/icon/heart.png" alt=""></a>
            <a href="#"><img src="~/public/img/icon/cart.png" alt=""> <span>0</span></a>
            <div class="price">$0.00</div>
        </div>
    </div>
    <!-- Offcanvas Menu End -->
    <!-- Header Section Begin -->
    <header class="header">

        <div class="container fixed-top bg-light">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="@Url.Action("Index","Home")"><img src="~/public/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="@Url.Action("Index","Home")">Home</a></li>
                            
                            <li>
                                <a href="@Url.Action("product","Shop")">Shop</a>
                                <ul class="dropdown">
                                    @{
                                        var cate = db.Category.ToList();
                                        foreach (var data in cate)
                                        {
                                            <li><a href="@Url.Action("category","Shop",new { idcate = data.id_cate})">@data.name_cate</a></li>
                                        }

                                    }



                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contacts</a></li>
                            <li><a href="./login.html">Sign in</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a id="search_1" href="javascript:void(0)"><img src="~/public/img/icon/search.png" alt=""></a>

                        <a href="#"><img src="~/public/img/icon/heart.png" alt=""></a>
                        <a href="#"><img src="~/public/img/icon/cart.png" alt=""> <span>0</span></a>
                        <div class="price">$0.00</div>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
            <div class="search_input" id="search_input_box">
                <div class="container ">
                    <form class="d-flex justify-content-between search-inner">
                        <input type="text" class="form-control" style="background-color: #ff386d; border: none;"
                               id="search_input" placeholder="Search Here">
                        <button type="submit" class="btn"><img src="~/public/img/icon/search.png" alt=""></button>
                        <span class="ti-close" id="close_search" title="Close Search"></span>
                    </form>
                </div>
            </div>
        </div>
    </header>

    @RenderBody();
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="~/public/img/footer-logo.png" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="~/public/img/payment.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>
                            Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>2020
                            All rights reserved | This template is made with <i class="fa fa-heart-o"
                                                                                aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Section End -->
    <!-- Search Begin -->
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/public/js/jquery-3.3.1.min.js"></script>
    <script src="~/public/js/bootstrap.min.js"></script>
    <script src="~/public/js/jquery.nice-select.min.js"></script>
    <script src="~/public/js/jquery.nicescroll.min.js"></script>
    <script src="~/public/js/jquery.magnific-popup.min.js"></script>
    <script src="~/public/js/jquery.countdown.min.js"></script>
    <script src="~/public/js/jquery.slicknav.js"></script>
    <script src="~/public/js/mixitup.min.js"></script>
    <script src="~/public/js/owl.carousel.min.js"></script>
    <script src="~/public/js/main.js"></script>
</body>

</html>