
@{
    ViewBag.Title = "order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>@ViewBag.Message</p>
<p>0 @ViewBag.TmnCode</p>




<p>1 @ViewBag.TxnRef </p>
<p>2 @ViewBag.VnpayTranNo</p>
<p>3 @ViewBag.Amount</p>
<p>4 @ViewBag.BankCode</p>


