
@{
    ViewBag.Title = "product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    database db = new database();
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    int id = -1;

    string username;
    if (authCookie != null)
    {
        var authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        username = authTicket.Name;
        string userData = authTicket.UserData;
        id = int.Parse(username);
        var ten = db.User_info.Where(c => c.id_user == id).FirstOrDefault();
    }
    else
    {
        username = Session["id_user"] as string;
    }
}
@using shopthoitrang.Models;
<section class="shop spad">
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shop</h4>
                        <div class="breadcrumb__links">
                            <a href="@Url.Action("Index","Home")">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br />
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">

                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @{
                                                    var cate = db.Category.ToList();
                                                    foreach (var item in cate)
                                                    {
                                                        <li><a href="#">@item.name_cate</a></li>
                                                    }
                                                }


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul class="nice-scroll">
                                                @{
                                                    var barnding = db.producer.ToList();
                                                    foreach (var p in barnding)
                                                    {
                                                        <li><a href="#">@p.name</a></li>
                                                    }
                                                }


                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="#">$0.00 - $50.00</a></li>
                                                <li><a href="#">$50.00 - $100.00</a></li>
                                                <li><a href="#">$100.00 - $150.00</a></li>
                                                <li><a href="#">$150.00 - $200.00</a></li>
                                                <li><a href="#">$200.00 - $250.00</a></li>
                                                <li><a href="#">250.00+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            <label for="xs">
                                                xs
                                                <input type="radio" id="xs">
                                            </label>
                                            <label for="sm">
                                                s
                                                <input type="radio" id="sm">
                                            </label>
                                            <label for="md">
                                                m
                                                <input type="radio" id="md">
                                            </label>
                                            <label for="xl">
                                                xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="2xl">
                                                2xl
                                                <input type="radio" id="2xl">
                                            </label>
                                            <label for="xxl">
                                                xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label for="3xl">
                                                3xl
                                                <input type="radio" id="3xl">
                                            </label>
                                            <label for="4xl">
                                                4xl
                                                <input type="radio" id="4xl">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-5" for="sp-5">
                                                <input type="radio" id="sp-5">
                                            </label>
                                            <label class="c-6" for="sp-6">
                                                <input type="radio" id="sp-6">
                                            </label>
                                            <label class="c-7" for="sp-7">
                                                <input type="radio" id="sp-7">
                                            </label>
                                            <label class="c-8" for="sp-8">
                                                <input type="radio" id="sp-8">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Bags</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Fashio</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Hats</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select>
                                    <option value="">Low To High</option>
                                    <option value="">$0 - $55</option>
                                    <option value="">$55 - $100</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @{
                        var pro = db.product.OrderByDescending(c => c.discount_pro).Take(9).ToList();
                        foreach (var item in pro)
                        {
                            var tien = item.price_pro - (item.price_pro * item.discount_pro / 100);
                            string gia = string.Format("{0:#,##0}₫", tien);

                            var SinceUpdate = (DateTime.Now - DateTime.Parse(item.date_update)).Days;
                            string idsp = "sp" + item.id_product;
                            var danhgia = db.rate.Where(r => r.id_product == item.id_product).Select(r => r.star_rate).ToList();
                            int rate = 0, demso = 0;

                            bool yeeuthich = false;
                            if (id != -1)
                            {
                                var check = db.User_info.Where(p => p.id_user == id).Select(c => c.favourite_pro).FirstOrDefault();
                                if (check != null)
                                {
                                    var data = check.Split(',').ToList();
                                    string idpro = item.id_product.ToString();

                                    foreach (var yt in data)
                                    {

                                        if (yt == idpro)
                                        {
                                            yeeuthich = true;
                                        }
                                    }
                                }
                            }

                            if (danhgia.Count > 0)
                            {
                                foreach (var dem in danhgia)
                                {
                                    demso += dem ?? 0;
                                }
                                rate = demso / danhgia.Count;
                            }
                            if (SinceUpdate < 3)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item sale">
                                        <div class="product__item__pic">
                                            <a class="product__item__pic " href="@Url.Action("detail","Shop", new { id_pro=item.id_product})">
                                                <img class=" product__item__pic set-bg" src="~/public/img/product/@item.photo_pro" />
                                            </a>
                                            <span class="label">Sale</span>
                                            <ul class="product__hover">
                                                <li>
                                                    <a href="javascript:void(0)" id="@idsp" onclick="yeu('@idsp','@item.id_product')">
                                                        @{ if (yeeuthich)
                                                            {
                                                                <img id="anh" src="/public/img/icon/heart_red.png" alt="">
                                                            }
                                                            else
                                                            {

                                                                <img id="anh" src="/public/img/icon/heart.png" alt="">
                                                            }
                                                        }
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6>@item.name_pro</h6>
                                            <a href="javascript:void(0)" onclick="themgiohang('@item.id_product','đỏ','1','M')" class="add-cart">+ Add To Cart</a>
                                            <div class="rating">
                                                @{
                                                    for (int i = 0; i < rate; i++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    for (int i = 0; i < 5 - rate; i++)
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                }

                                            </div>

                                            <h5>@gia</h5>
                                            <span>lượt mua: @item.buy_count</span>

                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.discount_pro > 10)
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6">

                                    <div class="product__item sale">

                                        <div class="product__item__pic">
                                            <a class="product__item__pic " href="@Url.Action("detail","Shop", new { id_pro=item.id_product})">
                                                <img class=" product__item__pic set-bg" src="~/public/img/product/@item.photo_pro" />
                                            </a>
                                            <span class="label">Sale</span>
                                            <ul class="product__hover">
                                                <li>
                                                    <a href="javascript:void(0)" id="@idsp" onclick="yeu('@idsp','@item.id_product')">
                                                        @{ if (yeeuthich)
                                                            {
                                                                <img id="anh" src="/public/img/icon/heart_red.png" alt="">
                                                            }
                                                            else
                                                            {

                                                                <img id="anh" src="/public/img/icon/heart.png" alt="">
                                                            }
                                                        }
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="product__item__text">
                                            <h6>@item.name_pro</h6>

                                            <a href="javascript:void(0)" onclick="themgiohang('@item.id_product','đỏ','1','M')" class="add-cart">+ Add To Cart</a>
                                            <div class="rating">
                                                @{
                                                    for (int i = 0; i < rate; i++)
                                                    {
                                                        <i class="fa fa-star"></i>
                                                    }
                                                    for (int i = 0; i < 5 - rate; i++)
                                                    {
                                                        <i class="fa fa-star-o"></i>
                                                    }
                                                }
                                            </div>

                                            <h5>@gia</h5>
                                            <span>lượt mua: @item.buy_count</span>

                                        </div>

                                    </div>

                                </div>

                            }
                            else
                            {
                                <div class="col-lg-4 col-md-6 col-sm-6 ">
                                    <a href="#">
                                        <div class="product__item sale">

                                            <div class="product__item__pic">
                                                <a class="product__item__pic " href="@Url.Action("detail","Shop", new { id_pro=item.id_product})">
                                                    <img class=" product__item__pic set-bg" src="~/public/img/product/@item.photo_pro" />
                                                </a>
                                                <span class="label">Sale</span>
                                                <ul class="product__hover">
                                                    <li>
                                                        <a href="javascript:void(0)" id="@idsp" onclick="yeu('@idsp','@item.id_product')">
                                                            @{ if (yeeuthich)
                                                                {
                                                                    <img id="anh" src="/public/img/icon/heart_red.png" alt="">
                                                                }
                                                                else
                                                                {

                                                                    <img id="anh" src="/public/img/icon/heart.png" alt="">
                                                                }
                                                            }
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="product__item__text">
                                                <h6>@item.name_pro</h6>
                                                <a href="javascript:void(0)" class="add-cart " onclick="themgiohang('@item.id_product','đỏ','1','M')">+ Add To Cart</a>
                                                <div class="rating">
                                                    @{
                                                        for (int i = 0; i < rate; i++)
                                                        {
                                                            <i class="fa fa-star"></i>
                                                        }
                                                        for (int i = 0; i < 5 - rate; i++)
                                                        {
                                                            <i class="fa fa-star-o"></i>
                                                        }
                                                    }
                                                </div>
                                                <h5>@gia</h5>
                                                <span>lượt mua: @item.buy_count</span>

                                            </div>

                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    }
                    <script>


                    </script>

                </div>


            </div>
        </div>
    </div>
</section>
<script>
    function yeu(idbutton,id_product) {
        
        $.ajax({
            url: '@Url.Action("favourite", "Shop")',
            type: 'POST',
            data: {
                id_pro:id_product,
            },
            success: function (response) {
                if (response.success === true) {
                    console.log('Thêm sản phẩm yêu thích thành công')
                }
                else if (response.redirectUrl != null) {
                    window.location.href = response.redirectUrl;
                }
            },
            error: function (xhr, status, error) {
                // Handle errors, if any
                console.error(xhr.responseText);
            }
        })
        var yeuthichElement = document.getElementById('anh');
        if (yeuthichElement.getAttribute('src') === '/public/img/icon/heart_red.png') {
            yeuthichElement.setAttribute('src', '/public/img/icon/heart.png');
        } else {
            yeuthichElement.setAttribute('src', '/public/img/icon/heart_red.png');
        }
           
    }
    function themgiohang(id_pro,color, quantity,size) {
         $.ajax({
                url: '@Url.Action("addtocart", "Cart")',
                type: 'POST',
                data: {

                    id_pro: id_pro,
                    color: color,
                    quantity: quantity,
                    size: size
                },
             success: function (response) {
                 if (response.success === true) {
                     console.log('Thêm sản phẩm vào giỏ hàng thành công')
                 }
                 else if (response.redirectUrl!=null) {
                     window.location.href = response.redirectUrl;
                 }
                },
                error: function(xhr, status, error) {
                    // Handle errors, if any
                    console.error(xhr.responseText);
                }
            });
    }
</script>